<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteCond $1 !^(public)/
RewriteCond %{HTTP_HOST} ^(www.)?svbizforum.gabia.io [NC]
RewriteRule ^(.*)$ /public/$1 [L]
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteCond $1 !^(public)/
RewriteCond %{HTTP_HOST} ^(www.)?svbizforum.org [NC]
RewriteRule ^(.*)$ /public/$1 [L]
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteCond $1 !^(public)/
RewriteCond %{HTTP_HOST} ^(www.)?svbizforum.com [NC]
RewriteRule ^(.*)$ /public/$1 [L]
</IfModule>